{% extends 'layout/layout_blank.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Coming Soon{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-misc.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="misc-wrapper">
  <h4 class="mb-2 mx-2">Stay tuned</h4>
  <p class="mb-10 mx-2">We're launching soon. Sign up to be the first to know.</p>
  <form action='{% url 'index' %}' method='POST'>
    {% csrf_token %}
    <div class="mb-0 d-flex gap-4">
      <div class="col-auto">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Notify me</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
