{% extends 'layout/layout_blank.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Interview: {{project.name}}{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/interview.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="content-wrapper">
  <div class="flex-grow-1 container-p-y container-xxl">
    <div id='interview' class="interview-chat card overflow-hidden">
      <div class="row g-0">
        <div class="col interview-chat-history">
          <div class="chat-history-wrapper">
            <div class="chat-history-header border-bottom">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex overflow-hidden align-items-center">
                  <i class="ri-menu-line ri-24px cursor-pointer d-lg-none d-block me-4" data-bs-toggle="sidebar" data-overlay data-target="#interview-chat-contacts"></i>
                  <div class="flex-shrink-0 avatar avatar-online">
                    <img src="{% static 'img/avatars/bot.svg' %}" alt="Avatar" class="rounded-circle" data-bs-toggle="sidebar" data-overlay data-target="#interview-chat-sidebar-right">
                  </div>
                  <div class="chat-contact-info flex-grow-1 ms-4">
                    <h6 id="bot-name" class="m-0 fw-normal">Interview: {{ interview.bot.name }} (bot) &amp; {{ interview.subject_name }}</h6>
                    <small id="bot-version" class="user-status text-body">{{ project.name }}</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-history-body">
              <ul id='interview-chat-history-messages' class="list-unstyled chat-history">
              </ul>
            </div>
            <div class="chat-history-footer">
              <div class="status-banner form-control me-4 alert alert-info"></div>
              <div class="form-send-message d-flex justify-content-between align-items-center">
                <textarea style="form-sizing: normal;"
                  class="message-input form-control me-4 shadow-none"
                  placeholder="Type your message here..."
                ></textarea>
                <form class="message-actions d-flex align-items-center">
                  <button id="chat-message-submit" class="btn btn-primary d-flex send-msg-btn">
                    <span class="align-middle">Send</span>
                    <i class="ri-send-plane-line ri-16px ms-md-1_5 ms-0"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <span class="text-muted mt-1"><small>{{ interview.bot.caution }}</small></span>
            </div>
          </div>
        </div>
        <div class="app-overlay"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
{{ block.super }}
{{ interview.content|json_script:"initial-messages"}}
<script src="{% static 'vendor/js/interview.js' %}?v={{ CACHE_BUSTER }}"></script>
<script>
  const iv_el = document.getElementById('interview'),
    iv_code = "{{ interview.pk }}",
    init_msgs = JSON.parse(document.getElementById('initial-messages').textContent),
    status = "{{ interview.status }}",
    static_url = "{% static '' %}";
  const iv_app = new Interview(iv_el, iv_code, init_msgs, status, static_url)
</script>
{% endblock page_js %}
