{% extends 'layout/layout_blank.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Coming Soon{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/app-chat.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="misc-wrapper">
  <div id='interview-complete' class="{% if interview.status != 'complete' %}d-none{% endif %}">This interview has concluded</div>
  {% if interview.status != 'complete' %}
  <textarea id="chat-log" cols="100" rows="20"></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <input id="chat-message-submit" type="button" value="Send">
  {% endif %}
  {{ interview.pk|json_script:"interview-code" }}
  {{ interview.content|json_script:"initial-messages"}}
  <script>
      const interview_code = JSON.parse(document.getElementById('interview-code').textContent);
      const initial_messages = JSON.parse(document.getElementById('initial-messages').textContent);
      initial_messages.forEach(msg => {
        document.querySelector('#chat-log').value += (msg.sender + ': ' + msg.message + '\n');
      });

      const protocol = (window.location.protocol == 'https:') ? 'wss:' : 'ws:';
      const socket_addr = protocol + '//' + window.location.host + '/ws/interviews/' + interview_code + '/';
      const chatSocket = new WebSocket(socket_addr);

      chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          if (data.sender == 'system' && data.message == 'Interview complete') {
            document.querySelector('#chat-message-input').style.visibility = 'hidden';
            document.querySelector('#chat-message-submit').style.visibility = 'hidden';
            document.querySelector('#interview-complete').style.visibility = 'visible';
          } else {
            document.querySelector('#chat-log').value += (data.sender + ': ' + data.message + '\n');
          }
      };

      chatSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#chat-message-submit').click();
          }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          const messageInputDom = document.querySelector('#chat-message-input');
          const message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
              'message': message
          }));
          messageInputDom.value = '';
      };
  </script>
</div>
{% endblock %}
