{% extends 'layout/layout_vertical.html' %}

{% load static i18n crispy_forms_tags humanize %}

{% block title %}{{ project.name }}{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<h4>AI Chats</h4>
<p>AI interviews captured by bots. Create transcripts from these chats to transcripts to analyze them.</p>
<div class="card">
  <div class="card-body">
    <form method="POST" action="{% url 'project-interviews-list' pk=project.pk %}">
      <div class="row align-items-center g-3 mb-5">{# filter panel #}
        <div class="col-3">
            <select class="form-select" id="status" name="status"
              hx-target='#interview_list' hx-post="{% url 'project-interviews-list' pk=project.pk %}" hx-trigger="change">
              <option value="interview" selected>Show interviews</option>
              <option value="invited">Show invitations</option>
              <option value="test">Show test interviews</option>
            </select>
        </div>
        <div class="col-3">
          <select class="form-select" id="followup" name="followup"
              hx-target='#interview_list' hx-post="{% url 'project-interviews-list' pk=project.pk %}" hx-trigger="change">
              <option value="all" selected>Show all</option>
              <option value="ok_only">Followup permitted</option>
              <option value="no_only">Followup not permitted</option>
          </select>
        </div>
        <div class="col-3">
          <select class="form-select" id="bot" name="bot"
              hx-target='#interview_list' hx-post="{% url 'project-interviews-list' pk=project.pk %}" hx-trigger="change">
              <option value="all" selected>All bots</option>
              {% for bot in project.bots.all %}
              <option value="{{ bot.pk }}">{{ bot.name }} {% if bot.deleted_at %}(deleted){%else%}({{bot.status}}){%endif%}</option>
              {% endfor %}
          </select>
        </div>
        {% csrf_token %}
        <div class="col-2">
            <button type="submit" class="btn btn-secondary">Filter</button>
        </div>
      </div>
    </form>
    <div id="interview_list">
    {% include 'interviews/_interview_table.html' with interviews=interviews %}
    </div>
    <div class="px-0 pt-0 d-flex justify-content-end">
    {% if is_editor %}
    <a class="m-4 btn btn-secondary" href="{% url 'export-interviews' pk=project.pk %}">Download all interviews</a>
    {% endif %}
    <a class="m-4 btn btn-primary" href="{% url 'project-interviews-invite' pk=project.pk %}">Send invitation</a>    </div>
  </div>
  <div class="card-footer">
  </div>
</div>

{% endblock content %}
