# {{ project.name }}
# API data access example

import requests

USER_EMAIL = "{{ user.email }}"
# Don't share with anyone else
SECRET_TOKEN = "{{ user.token }}"

try:
    headers = {"email": USER_EMAIL, "token": SECRET_TOKEN}
    response = requests.get("{{ api_url }}", headers=headers)
    response.raise_for_status()
    data = response.json()
    print(data["name"])
    for i, case in enumerate(data, 1):
        print(f'{i:d}. {case["name"]} has {len(case["records"])} records.')
        for j, record in enumerate(case["records"], 1):
            print(f'  {j:d}. record["record_type"]')
            for line in record:
                print(f"    {line['reference']} {line['who']}: {line['text']}")
except requests.exceptions.RequestException as e:
    print(f"Unable to access API: {e}")
