{% extends 'layout/layout_vertical.html' %}

{% load static i18n humanize crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h5>New AI query</h5>
  </div>
  <div class="card-body">
    <p>Please select AI model parameters. You can safely accept the default values.</p>
    <div id="ai_chat">
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock content %}
