{% extends 'layout/layout_vertical.html' %}

{% load static i18n humanize crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<h5>AI query</h5>
<div id="ai_chat">
  <form>
    <div>
    <textarea></textarea>
    </div>
    <div>
    <input type="submit" class="btn btn-primary" value="Send" />
    </div>
  </form>
</div>
{% endblock content %}
