{% extends 'layout/layout_vertical.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<h5>Consent Letter</h5>
<p>Consent letters provide information about the study so that prospective
  respondents can decide whether to participate.
</p>
<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% endblock content %}
