{% extends 'layout/layout_blank.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Coming Soon{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-misc.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="misc-wrapper">
  <h4 class="mb-2 mx-2">Invitation: {{project.name}}</h4>
  <p class="mb-10 mx-2">Please create an account to respond to this invitation. Signing up is quick and free.</p>
  <p class="mb-10 mx-2"><a class='btn btn-primary' href="{% url 'account_signup' %}?next={{ return_url }}">Sign up</a></p>
  <p class="mb-10 mx-2">Already have an account? Log in below:</p>
  <p class="mb-10 mx-2"><a class='btn btn-secondary' href="{% url 'account_login' %}?next={{ return_url }}">Log in</a></p>
{% endblock content %}
