{% load static %}
<script src="{% static 'vendor/js/helpers.js' %}"></script>
<script src="{% static 'vendor/js/template-customizer.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>
{% comment %}
<script>
if (typeof TemplateCustomizer !== 'undefined') {
  window.templateCustomizer = new TemplateCustomizer({
    cssPath: '',
    themesPath: '',
    defaultStyle: "light",
    lang: 'en',
    pathResolver: function(path) {
      var resolvedPaths = {
        'core.css': "{% static 'vendor/css/core.css' %}",
        'core-dark.css': "{% static 'vendor/css/core-dark.css' %}",

        'theme-default.css': "{% static 'vendor/css/theme-default.css' %}",
        'theme-default-dark.css': "{% static 'vendor/css/theme-default-dark.css' %}",

        'theme-bordered.css': "{% static 'vendor/css/theme-bordered.css' %}",
        'theme-bordered-dark.css': "{% static 'vendor/css/theme-bordered-dark.css' %}",

        'theme-semi-dark.css': "{% static 'vendor/css/theme-semi-dark.css' %}",
        'theme-semi-dark-dark.css': "{% static 'vendor/css/theme-semi-dark-dark.css' %}"
      }
      return resolvedPaths[path] || path;
    },
    controls: ['rtl', 'style'],
  });
}
</script>
{% endcomment %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Color scheme init");
    const style = (window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
    const classesToRemove = style === 'light' ? ['dark-style'] : ['light-style']
    classesToRemove.forEach(cls => {
      document.documentElement.classList.remove(cls)
    })
    document.documentElement.classList.add(`${style}-style`)
});
</script>
