{% load static %}
{% load i18n %}
<!-- includes back -->
<!-- Helpers -->
<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<script src="{% static 'vendor/js/helpers.js' %}"></script>
<!--? Template customizer: To hide customizer set display_customizer value false in config.js.  -->
{% if has_customizer %}
<script src="{% static 'vendor/js/template-customizer.js' %}"></script>
{% endif %}
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{% static 'js/config.js' %}"></script>
{% if has_customizer %}
<script>
if (typeof TemplateCustomizer !== 'undefined') {
  window.templateCustomizer = new TemplateCustomizer({
    cssPath: '',
    themesPath: '',
    defaultStyle: "light", // Required as system style can't decided without JS
    defaultTextDir: 'ltr',
    defaultShowDropdownOnHover : {{show_dropdown_onhover_value}},
    lang: 'en',
    pathResolver: function(path) {
      var resolvedPaths = {
        'core.css': "{% static 'vendor/css/core.css' %}",
        'core-dark.css': "{% static 'vendor/css/core-dark.css' %}",

        'theme-default.css': "{% static 'vendor/css/theme-default.css' %}",
        'theme-default-dark.css': "{% static 'vendor/css/theme-default-dark.css' %}",

        'theme-bordered.css': "{% static 'vendor/css/theme-bordered.css' %}",
        'theme-bordered-dark.css': "{% static 'vendor/css/theme-bordered-dark.css' %}",

        'theme-semi-dark.css': "{% static 'vendor/css/theme-semi-dark.css' %}",
        'theme-semi-dark-dark.css': "{% static 'vendor/css/theme-semi-dark-dark.css' %}"
      }
      return resolvedPaths[path] || path;
    },
    controls: {{ customizer_controls | safe }},
  });
}

</script>
{% endif %}
{% comment %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Color scheme init");
    const style = (window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
    const classesToRemove = style === 'light' ? ['dark-style'] : ['light-style']
    classesToRemove.forEach(cls => {
      document.documentElement.classList.remove(cls)
    })
    document.documentElement.classList.add(`${style}-style`);
    console.log(`Color scheme ${style} done`);
});
</script>
{% endcomment %}
