{% load humanize markdown_filters %}

{% if case.description %}
<h6>Description</h6>
{{ case.description | markdown }}
{% endif %}

<h6>Records</h6>
<table class="table">
  <thead class="table-light">
    <tr class="text-nowrap">
        <th>Record</th>
        <th>Updated</th>
        <th>Created</th>
        <th />
    </tr>
  </thead>
  <tbody>
  {% for record in case.current_records %}
  <tr>
    <th>
      <a href="javascript: document.getElementById('record{{record.pk}}header').click();">[#{{ forloop.counter }}] {{ record.get_record_type_display }}</a>
    </th>
    <td>
      {{ record.updated_at | naturaltime }}
    </td>
    <td>
      {{ record.created_at }}
    </td>
    <td>
      <div class="dropdown">
        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
        <div class="dropdown-menu">
          <a class="dropdown-item text-danger "
            hx-get="{% url 'record-delete' pk=record.pk %}" {# whole page refreshes incl. tabs #}
            hx-confirm="Delete record?"
            hx-target="#case-card"
            hx-swap="innerHTML"
            >
            <i class="ri-delete-line me-1 text-danger"></i> Delete
          </a>
        </div>
      </div>
    </td>
  </tr>
  {% empty %}
  <tr>
    <th colspan="5">
      No records found
    </th>
  </tr>
  {% endfor %}
  </tbody>
</table>
<div class='d-flex justify-content-end pt-5'>
  <a class="btn btn-secondary" href="#" hx-get="{% url 'note-new' pk=case.pk %}" hx-target="#case-card" hx-swap="innerHTML">
    New note
  </a>
</div>
