{% extends 'layout/layout_vertical.html' %}

{% load static i18n humanize crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<h5>Case: {{case.name}}</h5>
<p>
  <a href="{% url 'data' pk=project.pk %}">
    <i class="ri-arrow-left-line"></i> Back to data
  </a>
</p>

<div class="card">
  <div class="card-header px-0 pt-0">
    <div class="nav-align-top">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#information-tab" aria-controls="information-tab" aria-selected="true">
          Information
          </button>
        </li>
        {% for record in case.current_records %}
        <li class="nav-item">
          <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#record{{record.pk}}" aria-controls="#record{{record.pk}}" aria-selected="true">
          {{ record.get_record_type_display }}
          </button>
        </li>
        {% endfor %}
        <li class="nav-item">
          <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#attributes-tab" aria-controls="attributes-tab" aria-selected="false">
          Attributes
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content p-0">
      <div class="tab-pane fade show active table-responsive" id="information-tab" role="tabpanel">
      {% include 'case/_summary.html' %}
      </div>
      {% for record in case.current_records %}
      <div class="tab-pane fade table-responsive" id="record{{record.pk}}" role="tabpanel">
        <h6>{{ record.get_record_type_display }}</h6>
        {% if record.record_type == "ai_chat" %}
          {% include 'case/_ai_chat.html' %}
        {% elif record.record_type == "manual_transcript" %}
          {% include 'case/_manual_transcript.html' %}
        {% elif record.record_type == "notes" %}
          {% include 'case/_notes.html' %}
        {% endif %}
      </div>
      {% endfor %}
      <div class="tab-pane fade" id="attributes-tab" role="tabpanel">
      {% include 'case/_attributes.html' %}
      </div>
    </div>
</div>
</div>
{% endblock content %}
