{% extends 'layout/layout_vertical.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="row">
    <div class="col-xl-10">
        <div class="card">
            <div class="card-header pb-4">
            <h4>Leave project {{ project.name }}?</h4>
            </div>
            <div class="card-body">
                <div class="row">
                <p>You will lose access to all data, chatbots, and analysis in this project.</p>
                <form action="{{ project.leave_url }}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-warning" value="Leave" />
                    <a href="{% url 'profile' %}">Don't leave</a>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
