{% extends 'layout/layout_vertical.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
{% endblock page_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Project members</h5>
        <p>Members can access all data, chatbots, and analysis in this project.</p>
    </div>
  <div class="card-datatable table-responsive">
    <table class="datatables-transaction table">
      <thead class="table-light">
        <tr class="text-nowrap">
            <th></th>
            <th>Member name</th>
            <th>Email address</th>
            <th>Role</th>
            <th>Updated</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td class="avatar avatar-sm">
            <img class="rounded-circle" src="{{ project.owner.profile.avatar_url }}" alt="Avatar"/>
        </td>
        <td>{{ project.owner.get_full_name }}</td>
        <td><a href="mailto:{{ project.owner.email }}">{{ project.owner.email }}</a></td>
        <td>
            <span class="badge rounded-pill bg-label-primary me-1">Owner</span>
        </td>
        <td>{# no updated field #}</td>
        <td>{# no actions for owner #}</td>
        </tr>
        {% for member in project.members.all %}
        <tr>
        <td class="avatar avatar-sm">
            <img class="rounded-circle" src="{{ member.avatar_url }}" alt="Avatar"/>
        </td>
        <td>{{ member.name }}</td>
        <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
        <td>
            {% if member.status == 'invited' %}
            <span class="badge rounded-pill bg-label-warning me-1">Invitation pending</span>
            {% elif member.status == 'withdrawn' %}
            <span class="badge rounded-pill bg-label-danger me-1">Invitation withdrawn</span>
            {% elif member.status == 'declined' %}
            <span class="badge rounded-pill bg-label-danger me-1">Invitation declined</span>
            {% elif member.status == 'accepted' %}
              {% if member.role == 'editor' %}
              <span class="badge rounded-pill bg-label-success me-1">Editor</span>
              {% elif member.role == 'viewer' %}
              <span class="badge rounded-pill bg-label-info me-1">Viewer</span>
              {% endif %}
            {% endif %}
        </td>
        <td>{{ member.last_modified_at }}</td>
        <td>
        <div class="dropdown">
          {% if member.status != 'declined' %}
            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
            <div class="dropdown-menu">
            {% if request.user.id == project.owner.id and member.user.id != project.owner.id %}
                {# project owner can manage users other than themselves #}
                {% if member.status == 'accepted' %}
                {% if member.role == 'editor' %}
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ri-arrow-down-line me-1"></i> Demote to viewer</a>
                {% elif member.role == 'viewer' %}
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ri-arrow-up-line me-1"></i> Promote to editor</a>
                {% endif %}
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ri-close-line me-1"></i> Remove</a>
                {% elif member.status == 'invited' %}
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ri-mail-close-line me-1"></i> Withdraw invitation</a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ri-mail-send-line me-1"></i> Re-send invitation email</a>
                  {% endif %}
            {% elif member.user.id == request.user.id %}
                {# members can remove themselves #}
                <a class="dropdown-item" href="{{ project.leave_url }}">
                  <i class="ri-door-arrow-r-line me-1"></i> Leave</a>
            {% endif %}
            </div>
          {% endif %}
        </div>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
