{% extends 'layout/layout_vertical.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/sweetalert2/sweetalert2.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/sweetalert2/sweetalert2.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
{% endblock page_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/project.css' %}" />
{% endblock page_css %}

{% block content %}
<p class="mb-10">
  To add new members, <a href="{% url 'project-invite' pk=project.pk %}">send a new invitation</a>.
</p>

<div class="card">
  <div class="card-header px-0 pt-0">
    <div class="nav-align-top">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#members-tab" aria-controls="members-tab" aria-selected="true">
            Members
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#invitations-tab" aria-controls="invitations-tab" aria-selected="false">
            Invitations sent
          </button>
        </li>
      </ul>
    </div>
  </div>
    <div class="tab-content p-0">
      <div class="tab-pane fade show active table-responsive card-datatable" id="members-tab" role="tabpanel">
          <table class="datatables-transaction table">
            <thead class="table-light">
              <tr class="text-nowrap">
                  <th></th>
                  <th>Member name</th>
                  <th>Email address</th>
                  <th>Role</th>
                  <th>Updated</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>
                <div class="avatar avatar-sm">
                  <img class="rounded-circle" src="{{ project.owner.profile.avatar_url }}"/>
                </div>
              </td>
              <td>{{ project.owner.name }}</td>
              <td><a href="mailto:{{ project.owner.email }}">{{ project.owner.email }}</a></td>
              <td>
                  <span class="badge rounded-pill bg-label-primary me-1">Owner</span>
              </td>
              <td>{# no updated field #}</td>
              <td>{# no actions for owner #}</td>
              </tr>
              {% for member in project.members.all %}
              <tr>
              <td>
                <div class="avatar avatar-sm">
                  <img class="rounded-circle" src="{{ member.avatar_url }}"/>
                </div>
              </td>
              <td>{{ member.name }}</td>
              <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
              <td>
                {% if member.role == 'editor' %}
                <span class="badge rounded-pill bg-label-success me-1">Editor</span>
                {% else %}
                <span class="badge rounded-pill bg-label-info me-1">Viewer</span>
                {% endif %}
              </td>
              <td>{{ member.last_modified_at }}</td>
              <td>
              <div class="dropdown">
                {% if member.status != 'declined' %}
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                  <div class="dropdown-menu">
                  {% if request.user == project.owner %}
                      {# project owner can manage users #}
                      {% if member.role == 'editor' %}
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="ri-arrow-down-line me-1"></i> Demote to viewer</a>
                      {% elif member.role == 'viewer' %}
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="ri-arrow-up-line me-1"></i> Promote to editor</a>
                      {% endif %}
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="ri-close-line me-1"></i> Remove</a>
                  {% elif member.user.id == request.user.id %}
                      {# members can remove themselves #}
                      <a class="dropdown-item" href="javascript:void(0);">
                        <i class="ri-door-arrow-r-line me-1"></i> Leave</a>
                  {% endif %}
                  </div>
                {% endif %}
              </div>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade show table-responsive card-datatable" id="invitations-tab" role="tabpanel">
      <table class="datatables-transaction table">
          <thead class="table-light">
            <tr class="text-nowrap">
                <th>Recipient</th>
                <th>Email address</th>
                <th>Invitation expiry</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            {% if not project.member_invitations.exists %}
            <tr>
              <td colspan='6'>
                <p>No invitations</p>
              </td>
            </tr>
            {% endif %}
            {% for inv in project.member_invitations.all %}
            <tr>
            <td>{{ inv.name }}</td>
            <td><a href="mailto:{{ inv.email }}">{{ inv.email }}</a></td>
            <td>{{ inv.expires_at }}</td>
            <td>
              {% if inv.role == 'editor' %}
              <span class="badge rounded-pill bg-label-success me-1">Editor</span>
              {% else %}
              <span class="badge rounded-pill bg-label-info me-1">Viewer</span>
              {% endif %}
            </td>
            <td>{{ inv.status }}
            <td>
            <div class="dropdown">
              {% if request.user == project.owner %}
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
                <div class="dropdown-menu">
                  {% if inv.is_valid %}
                  <a class="dropdown-item" href="javascript:void(0);">
                    <i class="ri-close-line me-1"></i> Cancel</a>
                  {% endif %}
                  <a class="dropdown-item" href="javascript:void(0);">
                    <i class="ri-mail-send-line me-1"></i> Re-send</a>
                </div>
              {% endif %}
            </div>
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock content %}
