{% load humanize %}

{% include 'layout/_messages.html' %}

<table class="table">
  <thead class="table-light">
    <tr class="text-nowrap">
        <th>Name</th>
        <th>Updated</th>
        <th>Type</th>
        <th />
    </tr>
  </thead>
  <tbody>
    {% for c in project.cases.all %}
    <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.updated_at | naturaltime }}</td>
    <td>{{ c.record_type }}</td>
    <td>
    <div class="dropdown">
      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ri-more-2-line"></i></button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" hx-get="{% url 'case-delete' pk=c.pk %}" hx-target="#cases-tab" hx-swap="innerHTML">
          <i class="ri-delete-line me-1 text-danger"></i> Delete</a>
        </div>
    </div>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="px-0 pt-0 d-flex justify-content-end">
  <a
    class="m-4 btn btn-secondary"
    href="#"
    hx-get="{% url 'import-chats' pk=project.pk %}"
    hx-target="#cases-tab"
    hx-swap="innerHTML"
  >
    Import AI chats
  </a>
  <a
    class="m-4 btn btn-secondary"
    href="#"
    hx-get="{% url 'case-new' pk=project.pk %}"
    hx-target="#cases-tab"
    hx-swap="innerHTML"
    >
    Create
  </a>
</div>
