{% extends 'layout/master_back.html' %}


{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
  <div class="layout-container">

    {% include "../layout/partials/menu/vertical/vertical_menu.html" %}

    <!-- Layout page: Start -->
    <div class="layout-page">


      {% include "../layout/partials/navbar/navbar.html" %}


      <!-- Content wrapper: Start -->
      <div class="content-wrapper">
        <!-- Content: Start -->
        {% if is_flex %}
        <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="container-xxl flex-grow-1 container-p-y">
        {% endif %}

          {% if messages %}
          {% for message in messages %}
          <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}

            {% block content %}
            {% endblock content %}

        </div>

          {% include "../layout/partials/footer/footer.html" %}

          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
  </div>
  <!-- Layout wrapper: End -->
  {% endblock layout %}
