{% load crispy_forms_tags %}

<div class="p-5">
  <h6>Invite new collaborator</h6>
  <form>
    {{ form | crispy }}
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="submit"
        name="Save"
        value="save"
        class="btn btn-primary"
        id="submit-id-save"
        hx-post="{% url "project-invite" pk=project.pk %}"
        hx-swap="innerHTML"
        hx-target="#members-tab">
      <a
        class="btn"
        hx-get="{% url "project-invite" pk=project.pk %}?cancel=true"
        hx-swap="innerHTML"
        hx-target="#members-tab">
        Cancel
      </a>
    </div>
  </form>
</div>
