{% load markdown_filters %}

<div id='settings-container'>

  {% include 'layout/_messages.html' %}

  <h6>Project title</h6>
  <p><strong>{{ project.name }}</strong></p>

  {% if project.description %}
  <h6>Description</h6>
  {{ project.description | markdown }}
  {% endif %}

  {% if project.research_aims %}
  <h6>Research aims</h6>
  {{ project.research_aims | markdown  }}
  {% endif %}

  {% if project.funding %}
  <h6>Funding</h6>
  {{ project.funding | markdown  }}
  {% endif %}

  <a class="btn btn-link btn-primary m-4" href="#" hx-get="{% url 'project-settings-tab' pk=project.pk %}" hx-target='#settings-container' hx-swap="outerHTML">
    Edit
  </a>

</div>
