{% extends 'layout/layout_blank.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Log in to Monklet{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-auth.js' %}"></script>
<script src="{% static 'js/ui-popover.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a href="{% url 'index' %}" class="auth-cover-brand d-flex align-items-center gap-3">
    <span class="app-brand-logo demo">{% include 'partials/logo.html' %}</span>
    <span class="app-brand-text demo text-heading fw-semibold">Monklet</span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">
    <!-- Login -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-5 px-12 py-4">
      <div class="w-px-400 mx-auto pt-5 pt-lg-0">
        <h4 class="mb-1">Welcome</h4>
        <p class="mb-5">Please sign in to your account</p>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-warning{% endif %}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% crispy form %}
        <form id="formAuthentication" class="mb-5" action="{% url 'account_login' %}" method="post">
          {% csrf_token %}
          <div class="form-floating form-floating-outline mb-5">
            <input type="email" class="form-control" id="email" name="email-username" placeholder="Email/Username" autofocus />
            <label for="email">Email or Username</label>
          </div>
          <div class="mb-5">
            <div class="form-password-toggle">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                  <label for="password">Password</label>
                </div>
                <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
              </div>
            </div>
          </div>
          <div class="mb-5 d-flex justify-content-between flex-wrap py-2">
            <div class="form-check mb-0">
              <input class="form-check-input" type="checkbox" id="remember-me">
              <label class="form-check-label me-2" for="remember-me">
                Remember Me
              </label>
            </div>
            <a href="{% url 'account_reset_password' %}" class="float-end mb-1">
              <span>Forgot Password?</span>
            </a>
          </div>
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
        </form>

          <p class="text-center">
          <span>New on our platform?</span>
          <a href="{% url 'account_signup' %}">
            <span>Create an account</span>
          </a>
        </p>

      </div>
    </div>
    <!-- /Login -->
  </div>
</div>
{% endblock %}
